@font-face {
    font-family: MuseoSans300;
    src: url(../fonts/MuseoSansCyrl-300.ttf);
}
@font-face {
    font-family: MuseoSans500;
    src: url(../fonts/MuseoSansCyrl-500.ttf);
}

.grid-container{
    display: flex;
}

.grid-item{
    display: flex;
    flex-direction: column;
}

body{
    font-family: MuseoSans300;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: #333333;
}

textarea, select, input, button { outline: none; }

ul,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:hover{
    color: inherit;
    text-decoration: none;
}

.container{
    width: 1170px;
}

.header{
    background-image: url("../img/header.jpg");
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #336699;
}

.header-left{
    padding-left: 36px;
}

.header-left,.header-right{
    display: flex;
    align-items: center;
}

.header-right{
    background: rgba(255,255,255,0.6);
    height: 100%;
    padding-right: 36px;
    padding-left: 20px;
}

.header-phone{
    display: flex;
}
.header-phone, .header-email{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #cc0000;
    font-family: MuseoSans500;
    font-weight: 600;
    margin-bottom: 5px;
}
.header-email{
    text-decoration: underline;
    justify-content: center;
}

.header-block-contact > div:last-child{
    margin-bottom: 0px;
}

.header-phone-ico{
    margin-right: 16px;
    width: 19px;
}
.header-phone-ico img{
    width: 100%;
    height: auto;
}

.header-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-name1{
    font-family: MuseoSans500;
    font-size: 24px;
    margin-bottom: 0px;
}
.header-name2{
    font-family: MuseoSans500;
    font-size: 14px;
}
.header-name3{
    margin-top: 5px;
    font-size: 14px;
}

.header-main-phone{
    font-size: 30px;
    font-family: MuseoSans500;
    margin-left: 40px;
    font-weight: 600;
}

.nav ul{
    position: relative;
    z-index: 1;
    font-size: 16px;
    color: #336699;
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
    background: linear-gradient(180deg, #d3e0ee 0%, white 100%);
    box-shadow: #c9c9d4 0px 2px 3px -2px;
}
.nav ul li{
    text-align: center;
    width: auto;
    padding: 10px;
}
.nav ul li a{
    width: 100%;
}

.wrapper{
    display: flex;
}

.left-container{
    z-index: 0;
    width: 340px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f4faff;
    padding-left: 30px;
    padding-right: 30px;
}

.main-container{
    width: calc(1170px - 340px);
    padding-top: 30px;
}

.content-with-padding{
    padding-left: 14px;
    padding-right: 14px;
}

h1.h1-title{
    font-size: 20px;
    color: #336699;
    margin-bottom: 12px;
}
h2.h2-title{
    font-size: 20px;
    color: #336699;
    margin-bottom: 12px;
    text-align: center;
}

.text{
    margin-top: 14px;
    margin-bottom: 14px;
}

.text, text > p{
    width: auto;
    font-size: 16px;
    color: #333333;
}

.divider-main{
    width: 100%;
    height: 1px;
    background: #d6ebff;
}

.product-category-menu {

}
.product-category-menu .product-category-item:first-child{
    padding-top: 0;
}

.product-category-item{
    font-size: 20px;
    color: #336699;
    border-bottom: 1px solid #d6ebff;
    padding-top: 12px;
    padding-bottom: 12px;
}

.content-contact{
    background: #ebf5ff;
    color: #336699;
    text-align: center;
    padding: 40px 80px;
    font-weight: 600;
}
.content-contact-text{
    font-size: 20px;
    margin:20px 0;
}

.content-contact-phones{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.content-contact-phones > div{
    margin: 0 10px;
}

.content-contact-phone{
    color: #336699;
}

.footer{
    display: flex;
    background: #336699;
    color: white;
    font-size: 16px;
    padding: 32px 0;
}

.footer-title{
    font-size: 18px;
    border-bottom: 1px solid #548ac1;
    padding-bottom: 8px;
}

.footer-menu-item{
    font-size: 16px;
    border-bottom: 1px solid #4478ad;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footer-block{
    width: 100%;
    padding: 0 34px;
}

.input-block{
    display: flex;
    flex-direction: column;
}
.input-block > div{
    display: flex;
    flex-direction: row;
}

.input-button{
    background: #cce5ff;
    padding: 8px 10px;
}

.input-label{
    font-size: 20px;
    color: #336699;
    margin-bottom: 8px;
}

.input{
    width: 100%;
    background: white;
    border: 3px solid #cce5ff;
    font-size: 20px;
    padding: 0 10px;
    color: #336699;
}
.input::placeholder{
    color: #bcbcbc;
}

.social-list{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.social-list .social-item{
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.margin-top-40{
    margin-top: 40px;
}
.margin-bottom-40{
    margin-bottom: 40px;
}

button{
    border: 0;
}

.product-category-title-block{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.product-category-divider{
    height: 2px;
    width: 100%;
    background: #99b2cc;
}
.product-category-title{
    text-align: center;
    font-size: 20px;
    color: #336699;
    width: 100%;
    font-weight: 600;
}

.product-img{
    height: 125px;
    width: 100%;
    background: white;
    background-position: center;
    background-size: cover;
}

.product-list{
    display: flex;
    margin-bottom: 40px;
}

.product-item{

    display: flex;
    flex-direction: column;
}
.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 16px 10px;
    width: auto;
}

.product-item-wrapper{
    padding: 0 0px;
    width: 25%;
    display:flex;
    margin-bottom: 10px;

}
.product-item-wrapper-2{
    padding: 0 12px;
    width: 100%;
    height: 100%;
}
.product-item-wrapper-3{
    background: #336699;
    width: 100%;
    height: 100%;
}

.product-price{
    font-family: MuseoSans500;
    font-size: 20px;
    margin-top: 10px;
}

.rub{
    font-family: sans-serif;
}

.breadcrumbs{
    display: flex;
    margin-bottom: 5px;
    color: #b3b3b3;
}
.breadcrumbs .breadcrumbs-item{
    margin-right: 5px;
    font-size: 14px;
}

.product-item-list{
    /*display: flex;*/
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d6ebff;
}

.product-item-list-title{
    font-size: 20px;
    color: #336699;
    margin-bottom: 10px;
}
.product-img-list{
    width: 180px;
}

.product-img-list img{
    width: 100%;
    height: auto;
}

.product-item-list-description{
    width: calc(100% - 200px - 180px);
    padding: 0 20px;
}

.product-item-list-price-block{
    text-align: center;
    width: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-item-list-price-block .product-price{
    width: 100%;
    color: #336699;
    margin-bottom: 10px;
}

.product-item-list-price-block .product-buy{
    color: white;
    background: #336699;
    border-radius: 4px;
    font-size: 18px;
    padding: 12px 30px;
}

.content-with-padding .product-item-list:first-child{
    padding-top: 0;
    margin-top: 0;
}

.product-category-menu-children{
    margin-top: 12px;
    color: #474747;
}
.product-category-menu-children li{
    padding-bottom: 12px;
}

.footer-contacts-block{
    margin-top: 12px;
    font-size: 16px;
    color: white;
}

.footer-text-copyright{
    font-size: 14px;
    color: #adbdd0;
    text-align: right;
    padding: 0 34px;
}

.product-list-2{
    flex-wrap: wrap;
}

.product-page-info{
    display: flex;
}

.product-page-add-item{
    display: flex;
    margin-bottom: 15px;
}

.product-page-center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    color: #333333;
    padding-left: 30px;
}

.product-page-price{
    font-weight: 600;
}

.product-page-price-span{
    color: #336699;
    border-bottom: 1px solid #336699;
    margin-left: 10px;
}

.product-page-price-info{
    font-weight: 600;
    margin-top: 20px;
}

.product-buy{
    color: white;
    background: #336699;
    border-radius: 4px;
    font-size: 18px;
    padding: 12px 30px;
}

.product-page-center .product-buy{
    margin-top: 20px;
}

.product-page-center .header-phone{
    margin-top: 20px;
}

.product-page-add-item .header-phone-ico{
    margin-right: 16px;
    width: 19px;
    min-width: 19px;
}

.product-page-img{
    width: 255px;
    min-width: 255px;
}

.product-page-add{
    width: 170px;
    min-width: 170px;
}

.product-page-img img{
    width: 100%;
    height: auto;
}

.product-page-center{
    width: auto;
}

.table-characteristics{
    width: 100%;
}

.table-characteristics tbody, .table-characteristics tr{
    width: 100%;
    border-color: transparent;
}

.table-characteristics td{
    width: auto;
    padding: 20px 10px;
    border-color: transparent;
}

.table-characteristics tr td{
    background: #f3f9ff;
}

.table-characteristics tr:nth-child(even) td{
    background: white;
}

.product-page-description p{
    margin-bottom: 10px;
}

.text p{
    margin-bottom: 10px;
}

h3.h3-title{
    font-size: 20px;
    color: #336699;
    text-align: center;
    margin-bottom: 20px;
}

.advantages-block{
    display: flex;
    flex-direction: column;
}

.advantage-item{
    display: flex;
    font-weight: 600;
    margin-bottom: 40px;
}

.advantage-title{
    color: #336699;
}

.advantage-info{
    margin-left: 20px;
}

.advantage-img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 38px;
    min-width: 38px;
}

.ul-list{
    padding-left: 20px;
}
.ul-list li{
    padding-left: 20px;
    margin-bottom: 25px;
}

.ul-list li:before{
    display: block;
    position: absolute;
    margin-top: 7px;
    margin-left: -15px;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #336699;
}

@media (max-width:1170px) {
    .container{
        width: 991px;
    }
    .main-container{
        width: calc(991px - 340px);
    }
    .product-page-info{
        flex-direction: column;
        align-items: center;
    }
    .product-page-img{
        width: auto;
        min-width: auto;
    }
    .product-page-add{
        width: auto;
        min-width: auto;
    }
    .product-page-center{
        margin-top: 40px;
        margin-bottom: 40px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .content-contact{
        padding: 20px 20px;
    }
    .input-label{
        font-size: 16px;
        color: #336699;
        margin-bottom: 8px;
    }
    .input{
        font-size: 16px;
    }
}

@media (max-width:991px) {
    .header-main-phone{
        display: none;
    }
    .container{
        width: 771px;
    }
    .left-container{
        width: 200px;
        font-size: 16px;
    }
    .product-category-item{
        font-size: 16px;
    }
    .main-container{
        width: calc(771px - 200px);
    }
    .product-page-info{
        flex-direction: column;
        align-items: center;
    }
    .product-page-img{
        width: auto;
        min-width: auto;
    }
    .product-page-add{
        width: auto;
        min-width: auto;
    }
    .product-page-center{
        margin-top: 40px;
        margin-bottom: 40px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .content-contact{
        padding: 20px 20px;
    }
    .content-contact-text{
        font-size: 18px;
    }
}

@media (max-width:771px) {

    .container{
        width: 100%;
    }
    .wrapper{
        flex-direction: column;
    }
    .left-container{
        width: 100%;
        padding: 20px 0;
    }
    .main-container{
        width: 100%;
    }
    .footer{
        flex-direction: column;
    }
    .footer-block {
        width: auto;
        padding: 0 10px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .content-contact{
        padding: 10px 10px;
    }

    .product-page-info{
        flex-direction: column;
        align-items: center;
    }
    .product-page-img{
        width: auto;
        min-width: auto;
    }
    .product-page-add{
        width: auto;
        min-width: auto;
    }
    .product-page-center{
        margin-top: 40px;
        margin-bottom: 40px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .product-category-item{
        font-size: 16px;
    }
    .nav ul{
        flex-direction: column;
    }

    .left-container .product-category-menu{
        padding: 0 10px;
    }

    .input-block{
        padding: 0 10px;
    }

    .header{
        flex-direction: column;
    }

    .header-right{
        background: transparent;
    }
    .product-list{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .product-item-wrapper{
        width: 100%;
    }

    .table-characteristics, .table-characteristics tr, .table-characteristics tr td, .table-characteristics tr td p{
        display: block;
        word-wrap: break-word;
        width: auto;
    }

    .product-item-list .grid-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-item-list-title{
        align-items: center;
        width: 100%;
        display: flex;
    }

    a.product-item-list-title{
        width: 100%;
        text-align: center;
    }

    .product-item-list-description{
        display: none;
    }

    .breadcrumbs{
        flex-direction: column;
    }

}

.notification{
    z-index: 100;
    position: fixed;
    width: auto;
    background: green;
    text-align: center;
    color: white;
    padding: 15px 60px;
}


.hidden{
    display: none!important;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog#menu > div {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 0;
    padding: 0px;
    border-radius: 0px;
    background: #fff;
}

#menu .close {
    background: transparent;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 0px 0px 0px #000;
    -webkit-box-shadow: 0px 0px 0px #000;
    box-shadow: 0px 0px 0px #000;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modal-header{
    background: #006699;
    height: 52px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.close {
    background: #006699;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.form-block{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.form-block label{
    margin-bottom: 5px;
}

.form-block input{
    border: 1px solid #eee;
    padding: 15px 7px;
}

.modal-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}

.modal-text{
    margin-top: 10px;
    color: #aaa;
}

a.product-buy{
    color: white;
}
